<!-- Register form -->
<div fxLayout="column" class="register mat-elevation-z12">

  <!-- Form header -->
  <div fxLayout="row" fxLayoutAlign="center center" class="register-header">
    <img src="assets/logo.png" alt="site logo">
  </div>

  <div class="register-form-content" fxLayout="column" fxLayoutGap="40px">

    <!-- Form Content -->
    <form [formGroup]="registerForm" (submit)="onFormSubmit()">
      <div fxLayout="column" fxLayoutGap="22px">

        <mat-form-field>
          <input matInput [placeholder]="rsc.placeholders.name" formControlName="name" type="text" [errorStateMatcher]="standardMatcher">
          <mat-error *ngIf="name.hasError('required')">
            {{ rsc.errors.nameRequired }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [placeholder]="rsc.placeholders.email" formControlName="email" type="email" [errorStateMatcher]="standardMatcher">
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            {{ rsc.errors.email }}
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            {{ rsc.errors.emailRequired }}
          </mat-error>
        </mat-form-field>

        <div formGroupName="matchingPassword" fxLayout="column" fxLayoutGap="22px">
          <mat-form-field>
            <input matInput [placeholder]="rsc.placeholders.password" formControlName="password" type="password" [errorStateMatcher]="standardMatcher">
            <mat-error *ngIf="password.hasError('required')">
              {{ rsc.errors.passwordRequired }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [placeholder]="rsc.placeholders.passwordConfirm" formControlName="passwordConfirm" type="password" [errorStateMatcher]="groupMatcher">
            <mat-error *ngIf="passwordConfirm.hasError('required')">
              {{ rsc.errors.passwordConfirmRequired }}
            </mat-error>
            <mat-error *ngIf="registerForm.get('matchingPassword').hasError('areEquals')">
              {{ rsc.errors.passwordsnotEquals }}
            </mat-error>
          </mat-form-field>

        </div>

        <button mat-raised-button color="primary">{{ rsc.buttons.register }}</button>
      </div>
    </form>

    <!-- Form footer -->
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
      <div>{{ rsc.labels.hasAccount }}</div>
      <a [routerLink]="['/login/signin']">{{ rsc.buttons.signin }}</a>
    </div>

  </div>

</div>