// Primary Color
$md-dark-purple: (
    50 : #efecf0,
    100 : #d8d0da,
    200 : #beb0c1,
    300 : #a390a8,
    400 : #907995,
    500 : #7c6182,
    600 : #74597a,
    700 : #694f6f,
    800 : #5f4565,
    900 : #4c3352,
    A100 : #eda3ff,
    A200 : #e270ff,
    A400 : #d83dff,
    A700 : #d324ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

// Secondary color
$md-light-purple: (
    50 : #fefdfe,
    100 : #fcfbfe,
    200 : #faf8fd,
    300 : #f7f5fc,
    400 : #f6f3fb,
    500 : #f4f1fa,
    600 : #f3eff9,
    700 : #f1edf9,
    800 : #efebf8,
    900 : #ece7f6,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Accentuation color
$md-candy-pink: (
    50 : #f6edf8,
    100 : #e9d2ee,
    200 : #dab4e3,
    300 : #cb95d8,
    400 : #c07fcf,
    500 : #b568c7,
    600 : #ae60c1,
    700 : #a555ba,
    800 : #9d4bb3,
    900 : #8d3aa6,
    A100 : #fcf4ff,
    A200 : #f0c1ff,
    A400 : #e48eff,
    A700 : #de74ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
