@import "_theme.scss";

body {
    margin: 0;
    font-family: Roboto,'Helvetica Neue',Arial,sans-serif;
}

.container {
    height: 100%;
}

.bg-primary {

    &.default {
        background-color: mat-color($default-primary, default);
    }
    
    &.lighter {
        background-color: mat-color($default-primary, lighter);
    }

    &.darker {
        background-color: mat-color($default-primary, darker);
    }
}

.bg-alternate-primary {

    &.default {
        background-color: mat-color($alternate-primary, default);
    }
    
    &.lighter {
        background-color: mat-color($alternate-primary, lighter);
    }

    &.darker {
        background-color: mat-color($alternate-primary, darker);
    }
}

.bg-accent {

    &.default {
        background-color: mat-color($default-accent, default);
    }

    &.lighter {
        background-color: mat-color($default-accent, lighter);
    }

    &.darker {
        background-color: mat-color($default-accent, darker);
    }
}

.bg-alternate-accent {

    &.default {
        background-color: mat-color($alternate-accent, default);
    }

    &.lighter {
        background-color: mat-color($alternate-accent, lighter);
    }

    &.darker {
        background-color: mat-color($alternate-accent, darker);
    }
}