<!-- Login form -->
<div fxLayout="column" class="signin mat-elevation-z12">

  <!-- Form header -->
  <div fxLayout="row" fxLayoutAlign="center center" class="signin-header">
    <img src="assets/logo.png" alt="site logo">
  </div>

  <div class="signin-form-content" fxLayout="column" fxLayoutGap="40px">

    <!-- Form Content -->
    <form [formGroup]="loginForm" (submit)="onFormSubmit()">
      <div fxLayout="column" fxLayoutGap="22px">

        <mat-form-field>
          <input matInput [placeholder]="rsc.placeholders.email" formControlName="email" type="email" [errorStateMatcher]="matcher">
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            {{ rsc.errors.email }}
          </mat-error>
          <mat-error *ngIf="email.hasError('required')">
            {{ rsc.errors.emailRequired }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [placeholder]="rsc.placeholders.password" formControlName="password" type="password" [errorStateMatcher]="matcher">
          <mat-error *ngIf="password.hasError('required')">
            {{ rsc.errors.passwordRequired }}
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary">{{ rsc.buttons.signin }}</button>
      </div>
    </form>

    <!-- Form footer -->
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px" class="signin-footer">
      <p>{{ rsc.labels.noAccount }}</p>
      <a [routerLink]="['/login/register']" >{{ rsc.buttons.register }}</a>
    </div>

  </div>

</div>