.signin {

    background-color: white;

    .signin-header {
        background-color: #212121;
        padding: 20px;
    }

    .signin-form-content {
        padding: 24px 42px 42px;
    }

    .signin-footer {
        color: #777777;
        text-decoration: none;

        a {
            color: #2196f3;
        }
    }
}