<!-- Login form -->
<div fxLayout="column" class="signin mat-elevation-z12">

  <!-- Form header -->
  <div fxLayout="row" fxLayoutAlign="center center" class="signin-header">
    <img src="assets/logo.png" alt="site logo">
  </div>

  <div class="signin-form-content" fxLayout="column" fxLayoutGap="40px">

    <!-- Form Content -->
    <form [formGroup]="loginForm" (submit)="onFormSubmit()">
      <div fxLayout="column" fxLayoutGap="22px">
        <app-input-text name="email" type="email" [control]="email" placeholder="pages.signin.placeholders.email"></app-input-text>
        <app-input-text name="password" type="password" [control]="password" placeholder="pages.signin.placeholders.password"></app-input-text>
        <button mat-raised-button color="primary">{{ 'pages.signin.buttons.signin' | translate}}</button>
      </div>
    </form>

    <!-- Form footer -->
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px" class="signin-footer">
      <p translate>pages.signin.labels.noAccount</p>
      <a [routerLink]="['/login/register']" translate>pages.signin.buttons.register</a>
    </div>

  </div>

</div>
