<!-- Register form -->
<div fxLayout="column" class="register mat-elevation-z12">

  <!-- Form header -->
  <div fxLayout="row" fxLayoutAlign="center center" class="register-header">
    <img src="assets/logo.png" alt="site logo">
  </div>

  <div *ngIf="registerForm" class="register-form-content" fxLayout="column" fxLayoutGap="40px">

    <!-- Form Content -->
    <form [formGroup]="registerForm" (submit)="onFormSubmit()">
      <div fxLayout="column" fxLayoutGap="22px">

        <app-input-text name="name" [control]="name" placeholder="pages.register.placeholders.name"></app-input-text>
        <app-input-text name="email" type="email" [control]="email" placeholder="pages.register.placeholders.email">
        </app-input-text>


        <div formGroupName="matchingPassword" fxLayout="column" fxLayoutGap="22px">
          <app-input-text name="password" type="password" [control]="password"
            placeholder="pages.register.placeholders.password"></app-input-text>

          <mat-form-field>
            <input matInput placeholder="{{ 'pages.register.placeholders.passwordConfirm' | translate }}"
              formControlName="passwordConfirm" type="password" [errorStateMatcher]="groupMatcher">
            <mat-error *ngIf="passwordConfirm.hasError('required')" translate>
              pages.register.errors.passwordConfirmRequired
            </mat-error>
            <mat-error *ngIf="registerForm.get('matchingPassword').hasError('areEquals')" translate>
              pages.register.errors.passwordsnotEquals
            </mat-error>
          </mat-form-field>
        </div>

        <button mat-raised-button color="primary">{{ 'pages.register.buttons.register' | translate }}</button>
      </div>
    </form>

    <!-- Form footer -->
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px" class="register-footer">
      <div translate>pages.register.labels.hasAccount</div>
      <a [routerLink]="['/login/signin']">{{ 'pages.register.buttons.signin' | translate}}</a>
    </div>

  </div>

</div>
