.navbar {
    height: 100%;
}

.logo {
    padding: 10px;
    background-color: inherit;
    
    #navbar-logo {
        width: 74%;
    }
}

.menu {
    background-color: #CFD8DC;
    height: 100%
}
